/* .container {
    display: flex;
    flex-direction: column;
    background-color: rgb(182, 138, 224);
    margin: 0 auto;
    text-align: center;
} */
.heroes {
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
    margin-bottom: 10px;
    background-color: rgb(184, 153, 214);
}
/* h1 {
    color: rgb(120, 30, 204);
    font-size: 42px;
} */

/* .heroes__photo {
    margin: 25px 25px 25px 25px;
} */
.heroes__about {
    color: rgb(49, 5, 88);
    font-size: 20px;
}
.heroes__name {
    color: rgb(49, 5, 88);
    font-size: 30px;
}
img {
    width: 200px;
    height: 250px;
    margin-top: 20px;
}
/* .active {
    border: 5px solid rgb(205, 197, 212);
}

.heroes-rating {
    display: none;
    }
    .act {
        display: block;
    }
    button {
        width: 105px;
        height: 35px;
        border-radius: 5px;
        text-align: center;
        font-size: 15px;
    } */